<tr class="<%= cycle('odd', 'even')%>">
  <td><%= f.text_field :answer %></td>
  <td>
    <%= f.fields_for :image do |image| %>
      <%= image.file_field :attachment %><br/>
      <%= image_tag image.object.mini_url if image.object.attachment.present? %>
    <% end %>
  </td>
  <td>
    <%= f.hidden_field :_destroy %>
    <%= link_to "remove", '#', class: "remove_nested_fields" %>
  </td>
</tr>
